Repository mozilla/release-services, pull requests merged in 2018-03, with the labels that each got.

#903 shipit-pulse-listener: Do not overwite latest_id to null
  src/shipit_pulse_listener/shipit_pulse_listener/listener.py
Labels: app:shipit_pulse_listener, kind:bug

#745 Reduce shipit-pulse-listener notification noise
  nix/requirements_override.nix
  src/shipit_pulse_listener/requirements-dev.txt
  src/shipit_pulse_listener/requirements.nix
  src/shipit_pulse_listener/requirements_frozen.txt
  src/shipit_pulse_listener/shipit_pulse_listener/__init__.py
  src/shipit_pulse_listener/shipit_pulse_listener/monitoring.py
  src/shipit_pulse_listener/tests/conftest.py
  src/shipit_pulse_listener/tests/test_bot.py
  src/shipit_pulse_listener/tests/test_monitoring.py
Labels: app:shipit_pulse_listener

#916 nix: Update robustcheckout & pin mercurial to version 4.4
  nix/tools/mercurial.nix
Labels: app:setup

#929 shipit-static-analysis: Support missing relative or absolute path in linter
  src/shipit_static_analysis/shipit_static_analysis/lint.py
Labels: app:shipit_static_analysis, kind:bug

#925 shipit-risk-assessment: Remove project
  .github/CODEOWNERS
  lib/please_cli/please_cli/config.py
  nix/default.nix
  src/shipit_pulse_listener/shipit_pulse_listener/listener.py
  src/shipit_risk_assessment/README.md
  src/shipit_risk_assessment/VERSION
  src/shipit_risk_assessment/default.nix
  src/shipit_risk_assessment/mocoda.json
  src/shipit_risk_assessment/requirements-dev.txt
  src/shipit_risk_assessment/requirements.nix
  src/shipit_risk_assessment/requirements.txt
  src/shipit_risk_assessment/requirements_frozen.txt
  src/shipit_risk_assessment/requirements_override.nix
  src/shipit_risk_assessment/setup.cfg
  src/shipit_risk_assessment/setup.py
  src/shipit_risk_assessment/shipit_risk_assessment/__init__.py
  src/shipit_risk_assessment/shipit_risk_assessment/bot.py
  src/shipit_risk_assessment/shipit_risk_assessment/cli.py
  src/shipit_risk_assessment/shipit_risk_assessment/config.py
  src/shipit_risk_assessment/tests/test_bot.py
Labels: app:shipit_risk_assessment

#935 Reenable suite generation
  src/shipit_code_coverage/shipit_code_coverage/codecov.py
Labels: app:shipit_code_coverage

#933 shipit-static-analysis: Use raw patch instead of mercurial revisions.
  src/shipit_static_analysis/default.nix
  src/shipit_static_analysis/shipit_static_analysis/cli.py
  src/shipit_static_analysis/shipit_static_analysis/config.py
  src/shipit_static_analysis/shipit_static_analysis/report/phabricator.py
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/mocks/phabricator_diff_raw.json
  src/shipit_static_analysis/tests/test_revisions.py
Labels: app:shipit_static_analysis, kind:enhancement

#955 shipit-static-analysis: Fix mozlint line number format.
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/report/mozreview.py
Labels: app:shipit_static_analysis, kind:bug

#981 shipit-static-analysis: Use releng-svc-prod workers in production #946 & #954
  src/shipit_static_analysis/default.nix
Labels: app:shipit_static_analysis, kind:enhancement

#993 shipit-static-analysis: Update datadog version to 0.19.0
  src/shipit_static_analysis/requirements.nix
  src/shipit_static_analysis/requirements.txt
  src/shipit_static_analysis/requirements_frozen.txt
  src/shipit_static_analysis/tests/conftest.py
Labels: app:shipit_static_analysis, kind:enhancement

#957 shipit-static-analysis: Run as an idempotent task
  src/shipit_static_analysis/shipit_static_analysis/report/mozreview.py
  src/shipit_static_analysis/shipit_static_analysis/report/phabricator.py
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/mocks/mozreview_auth.json
  src/shipit_static_analysis/tests/mocks/mozreview_comments_12345_51.json
  src/shipit_static_analysis/tests/mocks/mozreview_filediff_12345_2.json
  src/shipit_static_analysis/tests/mocks/mozreview_filediff_12345_2_diffdata.json
  src/shipit_static_analysis/tests/mocks/mozreview_files_12345.json
  src/shipit_static_analysis/tests/mocks/mozreview_reviews_12345.json
  src/shipit_static_analysis/tests/mocks/mozreview_root.json
  src/shipit_static_analysis/tests/mocks/mozreview_session.json
  src/shipit_static_analysis/tests/mocks/mozreview_user.json
  src/shipit_static_analysis/tests/mocks/mozreview_user_another.json
  src/shipit_static_analysis/tests/test_reporter_mozreview.py
Labels: app:shipit_static_analysis, kind:enhancement

#987 Removed get_directory_coverage functions from shipit_uplift
  src/shipit_uplift/shipit_uplift/coverage.py
Labels: app:shipit_frontend, app:shipit_uplift, kind:enhancement

#1004 shipit-frontend: Restore analysis navbar display.
  src/shipit_frontend/src/App.elm
Labels: app:shipit_frontend, kind:bug

#928 nix sandbox inside docker
  .taskcluster.yml
  lib/frontend_common/webpack.config.js
  lib/please_cli/default.nix
  lib/please_cli/please_cli/base_image.py
  lib/please_cli/please_cli/build.py
  lib/please_cli/please_cli/check_cache.py
  lib/please_cli/please_cli/config.py
  lib/please_cli/please_cli/decision_task.py
  lib/please_cli/please_cli/deploy.py
  nix/default.nix
  nix/docker.nix
  nix/docker/Dockerfile
  nix/docker/entrypoint.sh
  nix/docker/profile.sh
  nix/docker/test.nix
  nix/docker_init.nix
  nix/docker_init.sh
  nix/lib/default.nix
  nix/nix.json
  nix/nixpkgs.json
  nix/setup.cfg
  nix/tools/default.nix
  nix/tools/mysql2pgsql.nix
  please
  src/releng_clobberer/default.nix
  src/releng_docs/default.nix
  src/shipit_bot_uplift/default.nix
  src/shipit_code_coverage/default.nix
  src/shipit_static_analysis/default.nix
Labels: app:please_cli, app:setup, kind:bug, lang:nix, lang:python, lang:shell

#943 Combine zero coverage files and functions into a single JSON report
  src/shipit_code_coverage/shipit_code_coverage/report_generators.py
  src/shipit_code_coverage/tests/test_report_generators.py
Labels: app:shipit_code_coverage

#1012 nix: as with nix/default.nix we need to bootstrap nixpkgs correctly
  nix/default.nix
  nix/update.nix
Labels: app:setup, kind:regression, lang:nix
