Repository mozilla/release-services, pull requests merged in 2018-11, with the labels that each got.

#1646 docs: Remove IRC notification
  src/docs/deploy/regular.rst
Labels: app:docs

#1686 staticanalysis/bot: Bump rust to 1.30.0
  nix/gecko_env.nix
Labels: app:staticanalysis/bot, kind:regression

#1684 shipit/api: Fix release sync, add dates
  src/shipit/api/shipit_api/api.py
  src/shipit/api/shipit_api/api.yml
  src/shipit/api/shipit_api/cli.py
  src/shipit/api/shipit_api/models.py
Labels: app:shipit/api, kind:bug, python

#1688 shipit/api: update release status
  src/shipit/api/shipit_api/api.py
  src/shipit/api/shipit_api/api.yml
Labels: app:shipit/api, kind:enhancement, python

#1687 shipit/frontent: add testing config
  src/shipit/frontend/src/configs/testing.js
Labels: app:shipit/frontend, javascript, kind:bug

#1680 uplift/bot: Add a BUGZILLA_COMMENT_ONLY setting in order to report failed uplifts without cancelling requests.
  src/uplift/bot/uplift_bot/bugzilla.py
  src/uplift/bot/uplift_bot/cli.py
  src/uplift/bot/uplift_bot/sync.py
Labels: app:uplift/bot

#1689 staticanalysis/bot: Filter clang-format publishable issues by their path
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_clang.py
  src/staticanalysis/bot/tests/test_issues.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
Labels: app:staticanalysis/bot

#1691 staticanalysis/bot: Limit clang-format patch generation to allowed paths.
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
Labels: app:staticanalysis/bot, kind:enhancement

#1703 shipit/frontend: make ship_firefox_rc skippable
  src/shipit/frontend/src/views/ListReleases/index.js
Labels: app:shipit/frontend, javascript, kind:enhancement

#1708 staticanalysis/bot: Do not publish patches without matching issues.
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
Labels: app:staticanalysis/bot, kind:enhancement

#1716 uplift/bot: update dependencies
  src/uplift/bot/requirements.nix
  src/uplift/bot/requirements_frozen.txt
Labels: app:uplift/bot

#1711 uplift/bot: add mozdata.ini for uplift/bot to specify user-agent
  src/uplift/bot/mozdata.ini
  src/uplift/bot/tests/test_libmozdata.py
Labels: app:uplift/bot
