Repository mozilla/release-services, pull requests merged in 2018-07, with the labels that each got.

#1250 shipit_static_analysis: Only .capitalize() the first letter of a defect message, not the full message.
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/tests/test_clang.py
  src/shipit_static_analysis/tests/test_lint.py
Labels: app:shipit_static_analysis, kind:bug

#1254 shipit-static-analysis: Enhance issue body parser, fixes #1251
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/mocks/clang-issues.txt
  src/shipit_static_analysis/tests/mocks/clang-output.txt
  src/shipit_static_analysis/tests/test_clang.py
Labels: app:shipit_static_analysis, kind:enhancement

#1258 shipit-static-analysis : Embed gcc libs in gecko-env
  nix/gecko_env.nix
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/config.py
Labels: app:shipit_static_analysis, kind:regression

#1231 Support custom Taskcluster routes
  nix/lib/default.nix
  src/shipit_pulse_listener/shipit_pulse_listener/hook.py
  src/shipit_pulse_listener/shipit_pulse_listener/listener.py
  src/shipit_pulse_listener/tests/test_code_coverage_listener.py
  src/shipit_static_analysis/default.nix
  src/shipit_static_analysis/shipit_static_analysis/cli.py
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/test_reporter_debug.py
  src/shipit_static_analysis/tests/test_reporter_mail.py
  src/shipit_static_analysis/tests/test_reporter_mozreview.py
  src/shipit_static_analysis/tests/test_revisions.py
  src/shipit_static_analysis/tests/test_workflow.py
Labels: app:shipit_pulse_listener, app:shipit_static_analysis

#1261 shipit-code-coverage-backend: fixes to use the new ES cluster
  src/shipit_code_coverage_backend/requirements.nix
  src/shipit_code_coverage_backend/requirements.txt
  src/shipit_code_coverage_backend/requirements_frozen.txt
  src/shipit_code_coverage_backend/shipit_code_coverage_backend/services/active_data.py
Labels: app:shipit_code_coverage_backend, kind:enhancement

#1265 nix: Update rust to 1.28.0-beta6 for gecko-env
  nix/gecko_env.nix
Labels: app:shipit_static_analysis, kind:regression

#1276 shipit-static-analysis: Prevent reporting duplicates, fixes #877
  src/shipit_static_analysis/shipit_static_analysis/__init__.py
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/test_clang.py
Labels: app:shipit_static_analysis

#1302 shipit-static-analysis: Add unit test for clang repeated issues
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/mocks/clang-repeats.txt
  src/shipit_static_analysis/tests/test_clang.py
Labels: app:shipit_static_analysis

#1262 shipit-code-coverage-backend: Load push data from ES
  src/shipit_code_coverage_backend/shipit_code_coverage_backend/services/active_data.py
Labels: app:shipit_code_coverage_backend

#1289 shipit_code_coverage_crawler: Create coverage-crawler project
  lib/please_cli/please_cli/config.py
  src/shipit_code_coverage_crawler/VERSION
  src/shipit_code_coverage_crawler/default.nix
  src/shipit_code_coverage_crawler/requirements-dev.txt
  src/shipit_code_coverage_crawler/requirements.nix
  src/shipit_code_coverage_crawler/requirements.txt
  src/shipit_code_coverage_crawler/requirements_frozen.txt
  src/shipit_code_coverage_crawler/requirements_override.nix
  src/shipit_code_coverage_crawler/settings.py
  src/shipit_code_coverage_crawler/setup.cfg
  src/shipit_code_coverage_crawler/setup.py
  src/shipit_code_coverage_crawler/shipit_code_coverage_crawler/__init__.py
  src/shipit_code_coverage_crawler/shipit_code_coverage_crawler/config.py
  src/shipit_code_coverage_crawler/tests/conftest.py
  src/shipit_code_coverage_crawler/tests/test_example.py
Labels: app:shipit_code_coverage_crawler
