Repository mozilla/release-services, pull requests merged in 2018-10, with the labels that each got.

#1557 staticanalysis/bot: Update rust to 1.29.1 stable
  nix/gecko_env.nix
Labels: app:staticanalysis/bot, kind:regression

#1578 staticanalysis/bot: Add retrigger tool
  src/staticanalysis/bot/static_analysis_bot/retrigger.py
Labels: app:staticanalysis/bot, kind:enhancement

#1566 codecoverage/backend: move project to respect new naming
  nix/setup.cfg
  src/codecoverage/backend/codecoverage_backend/__init__.py
  src/codecoverage/backend/codecoverage_backend/api.py
  src/codecoverage/backend/codecoverage_backend/api.yml
  src/codecoverage/backend/codecoverage_backend/config.py
  src/codecoverage/backend/codecoverage_backend/coverage.py
  src/codecoverage/backend/codecoverage_backend/coverage_by_changeset_impl.py
  src/codecoverage/backend/codecoverage_backend/coverage_for_file_impl.py
  src/codecoverage/backend/codecoverage_backend/coverage_summary_by_changeset_impl.py
  src/codecoverage/backend/codecoverage_backend/flask.py
  src/codecoverage/backend/codecoverage_backend/secrets.py
  src/codecoverage/backend/codecoverage_backend/services/__init__.py
  src/codecoverage/backend/codecoverage_backend/services/active_data.py
  src/codecoverage/backend/codecoverage_backend/services/base.py
  src/codecoverage/backend/codecoverage_backend/services/codecov.py
  src/codecoverage/backend/codecoverage_backend/services/coveralls.py
  src/codecoverage/backend/codecoverage_backend/v2/__init__.py
  src/codecoverage/backend/codecoverage_backend/v2/base.py
  src/codecoverage/backend/codecoverage_backend/v2/path.py
  src/codecoverage/backend/codecoverage_backend/worker.py
  src/codecoverage/backend/default.nix
  src/codecoverage/backend/launch.sh
  src/codecoverage/backend/settings.py
  src/codecoverage/backend/setup.py
  src/codecoverage/backend/tests/conftest.py
  src/codecoverage/backend/tests/test_active_data.py
  src/codecoverage/backend/tests/test_coverage.py
Labels: app:codecoverage/backend

#1582 codecoverage/backend: Support ES read only access
  src/codecoverage/backend/codecoverage_backend/secrets.py
  src/codecoverage/backend/codecoverage_backend/services/active_data.py
  src/codecoverage/backend/codecoverage_backend/v2/base.py
  src/codecoverage/backend/requirements.nix
  src/codecoverage/backend/requirements.txt
  src/codecoverage/backend/requirements_frozen.txt
  src/codecoverage/backend/tests/conftest.py
Labels: app:codecoverage/backend

#1586 staticanalysis/bot: Do not stop workflow on improvement patch apply failure
  src/staticanalysis/bot/static_analysis_bot/workflow.py
Labels: app:staticanalysis/bot

#1595 staticanalysis/bot: Fix clang-tidy & clang-format paths
  src/staticanalysis/bot/static_analysis_bot/clang/__init__.py
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/clang/tidy.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/conftest.py
Labels: app:staticanalysis/bot, kind:regression

#1592 docs: Document how to run staticanalysis/frontend.
  src/docs/projects/staticanalysis-frontend.rst
  src/staticanalysis/bot/README.md
  src/staticanalysis/frontend/README.md
Labels: app:staticanalysis/frontend

#1594 Update codespell to 1.14
  src/staticanalysis/bot/requirements.nix
  src/staticanalysis/bot/requirements_frozen.txt
Labels: app:staticanalysis/bot, kind:enhancement

#1590 staticanalysis/frontend: Filter by states, refs #1389
  src/staticanalysis/frontend/src/Choice.vue
  src/staticanalysis/frontend/src/Tasks.vue
  src/staticanalysis/frontend/src/store.js
Labels: app:staticanalysis/frontend, kind:enhancement

#1605 staticanalysis/bot: update rust-cbindgen to 0.6.4
  nix/gecko_env.nix
Labels: app:staticanalysis/bot, kind:enhancement

#1600 staticanalysis/bot: Use './mach clang-format' for a more precise C++ formatting analysis.
  src/staticanalysis/bot/requirements.nix
  src/staticanalysis/bot/requirements_frozen.txt
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_clang.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
  src/staticanalysis/bot/tests/test_revisions.py
Labels: app:staticanalysis/bot

#1620 Add Datadog timers for Active Data requests
  src/codecoverage/backend/codecoverage_backend/__init__.py
  src/codecoverage/backend/codecoverage_backend/datadog.py
  src/codecoverage/backend/codecoverage_backend/secrets.py
  src/codecoverage/backend/codecoverage_backend/services/active_data.py
  src/codecoverage/backend/codecoverage_backend/v2/base.py
  src/codecoverage/backend/requirements.nix
  src/codecoverage/backend/requirements.txt
  src/codecoverage/backend/requirements_frozen.txt
  src/codecoverage/backend/tests/conftest.py
  src/codecoverage/backend/tests/test_coverage.py
Labels: app:codecoverage/backend, kind:enhancement

#1624 Use improvement patches built by analyzers
  src/staticanalysis/bot/static_analysis_bot/__init__.py
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/clang/tidy.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/infer/infer.py
  src/staticanalysis/bot/static_analysis_bot/lint.py
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/static_analysis_bot/report/debug.py
  src/staticanalysis/bot/static_analysis_bot/report/mail.py
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_clang.py
  src/staticanalysis/bot/tests/test_issues.py
  src/staticanalysis/bot/tests/test_reporter_mail.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
  src/staticanalysis/bot/tests/test_workflow.py
Labels: app:staticanalysis/bot

#1626 Filter phabricator analyzers to publish (shadow mode)
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/clang/tidy.py
  src/staticanalysis/bot/static_analysis_bot/infer/infer.py
  src/staticanalysis/bot/static_analysis_bot/lint.py
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
Labels: app:staticanalysis/bot

#1631 Fix dummy leftover bug
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
Labels: app:staticanalysis/bot, kind:regression

#1632 Add localtime
  src/staticanalysis/bot/default.nix
Labels: app:staticanalysis/bot

#1639 Release v49
  .taskcluster.yml
  VERSION
Labels: kind:release

#1652 Display issue level & type for infer issues.
  src/staticanalysis/frontend/src/Task.vue
Labels: app:staticanalysis/frontend, kind:enhancement

#1651 Load all tasks available
  src/staticanalysis/frontend/src/Check.vue
  src/staticanalysis/frontend/src/Progress.vue
  src/staticanalysis/frontend/src/Stats.vue
  src/staticanalysis/frontend/src/mixins.js
  src/staticanalysis/frontend/src/store.js
Labels: app:staticanalysis/frontend, kind:enhancement

#1654 staticanalysis/bot: Update rust-cbindgen to 0.6.6
  nix/gecko_env.nix
Labels: app:staticanalysis/bot, kind:regression
