Repository mozilla/release-services, pull requests merged in 2018-06, with the labels that each got.

#1204 please_cli: trigger a release when deploying to heroku
  lib/please_cli/please_cli/deploy.py
Labels: app:please_cli, kind:regression, lang:python, severity:blocker

#1209 shipit-static-analysis: Remove "enabled checks" string detection in clang tidy, refs #1166
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/test_clang.py
Labels: app:shipit_static_analysis, kind:regression

#1229 shipit-static-analysis: Phabricator Fixes, refs #1166
  src/shipit_static_analysis/shipit_static_analysis/__init__.py
  src/shipit_static_analysis/shipit_static_analysis/clang/format.py
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/report/base.py
  src/shipit_static_analysis/shipit_static_analysis/report/debug.py
  src/shipit_static_analysis/shipit_static_analysis/report/mozreview.py
  src/shipit_static_analysis/shipit_static_analysis/report/phabricator.py
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/test_issues.py
  src/shipit_static_analysis/tests/test_reporter_debug.py
  src/shipit_static_analysis/tests/test_reporter_mozreview.py
Labels: app:shipit_static_analysis, kind:enhancement

#1238 nix: Pin rust to 1.26.2 in gecko-env
  nix/gecko_env.nix
Labels: app:shipit_static_analysis, kind:enhancement
