Repository mozilla/release-services, pull requests merged in 2018-08, with the labels that each got.

#1343 shipi-workflow: fix typos
  src/shipit_workflow/shipit_workflow/models.py
Labels: app:shipit_workflow, kind:bug, kind:regression, lang:python, skill:trivial

#1359 please_cli: Normalize tmp_dir for S3 upload for sub projects
  lib/please_cli/please_cli/deploy.py
Labels: app:please_cli, kind:enhancement

#1369 shipit-workflow: capitalize names for consistency
  src/shipit_workflow/shipit_workflow/models.py
Labels: app:shipit_workflow, kind:regression, lang:python

#1382 please_cli: use docker repos per project/channel
  lib/please_cli/please_cli/base_image.py
  lib/please_cli/please_cli/config.py
  lib/please_cli/please_cli/decision_task.py
  lib/please_cli/please_cli/deploy.py
Labels: app:please_cli, lang:python

#1392 static analysis frontend: Update of the URls in the footer
  src/staticanalysis/frontend/src/App.vue
Labels: app:static_analysis/frontend, kind:enhancement

#1394 please_cli: Support redis.
  lib/please_cli/please_cli/config.py
  lib/please_cli/please_cli/run.py
  nix/default.nix
Labels: app:please_cli

#1395 Move shipit_bot_uplift to uplift/bot
  .github/CODEOWNERS
  lib/please_cli/please_cli/config.py
  nix/setup.cfg
  src/releng_docs/index.rst
  src/releng_docs/projects/uplift-bot.rst
  src/shipit_bot_uplift/requirements-dev.txt
  src/shipit_bot_uplift/requirements.txt
  src/shipit_bot_uplift/requirements_override.nix
  src/shipit_bot_uplift/setup.cfg
  src/uplift/bot/README.md
  src/uplift/bot/VERSION
  src/uplift/bot/default.nix
  src/uplift/bot/requirements-dev.txt
  src/uplift/bot/requirements.nix
  src/uplift/bot/requirements.txt
  src/uplift/bot/requirements_frozen.txt
  src/uplift/bot/requirements_override.nix
  src/uplift/bot/setup.cfg
  src/uplift/bot/setup.py
  src/uplift/bot/tests/conftest.py
  src/uplift/bot/tests/test_bot.py
  src/uplift/bot/tests/test_report.py
  src/uplift/bot/uplift_bot/__init__.py
  src/uplift/bot/uplift_bot/api.py
  src/uplift/bot/uplift_bot/cli.py
  src/uplift/bot/uplift_bot/config.py
  src/uplift/bot/uplift_bot/helpers.py
  src/uplift/bot/uplift_bot/mercurial.py
  src/uplift/bot/uplift_bot/merge.py
  src/uplift/bot/uplift_bot/report.py
  src/uplift/bot/uplift_bot/sync.py
Labels: app:shipit_bot_uplift

#1393 Move shipit_uplift to uplift/backend
  lib/backend_common/backend_common/testing.py
  lib/please_cli/please_cli/config.py
  nix/setup.cfg
  src/releng_docs/index.rst
  src/releng_docs/projects/uplift-backend.rst
  src/shipit_uplift/requirements-dev.txt
  src/shipit_uplift/requirements.txt
  src/shipit_uplift/requirements_override.nix
  src/shipit_uplift/setup.cfg
  src/uplift/backend/README.md
  src/uplift/backend/VERSION
  src/uplift/backend/default.nix
  src/uplift/backend/migrations/README
  src/uplift/backend/migrations/alembic.ini
  src/uplift/backend/migrations/env.py
  src/uplift/backend/migrations/script.py.mako
  src/uplift/backend/migrations/versions/0e3855e1d130_.py
  src/uplift/backend/migrations/versions/178ba7a1a742_.py
  src/uplift/backend/migrations/versions/1eb1ce61f03e_.py
  src/uplift/backend/migrations/versions/1fd417e6d334_.py
  src/uplift/backend/migrations/versions/2158e8a5b554_.py
  src/uplift/backend/migrations/versions/35fdb610712b_.py
  src/uplift/backend/migrations/versions/3a54bd40145f_.py
  src/uplift/backend/migrations/versions/3c2d234e2d75_.py
  src/uplift/backend/migrations/versions/46d559f516ea_.py
  src/uplift/backend/migrations/versions/85ee332dd4db_.py
  src/uplift/backend/migrations/versions/99542dc2fd44_.py
  src/uplift/backend/migrations/versions/e589b0fe9ef5_.py
  src/uplift/backend/migrations/versions/e90a66648db6_.py
  src/uplift/backend/requirements-dev.txt
  src/uplift/backend/requirements.nix
  src/uplift/backend/requirements.txt
  src/uplift/backend/requirements_frozen.txt
  src/uplift/backend/requirements_override.nix
  src/uplift/backend/settings.py
  src/uplift/backend/setup.cfg
  src/uplift/backend/setup.py
  src/uplift/backend/tests/conftest.py
  src/uplift/backend/tests/fixtures/bug_1139560.json
  src/uplift/backend/tests/fixtures/bug_1152022.json
  src/uplift/backend/tests/fixtures/bug_1306465.json
  src/uplift/backend/tests/fixtures/payload_12345.json
  src/uplift/backend/tests/test_analysis.py
  src/uplift/backend/tests/test_contributor.py
  src/uplift/backend/tests/test_patch_status.py
  src/uplift/backend/uplift_backend/__init__.py
  src/uplift/backend/uplift_backend/analysis.json
  src/uplift/backend/uplift_backend/api.py
  src/uplift/backend/uplift_backend/api.yml
  src/uplift/backend/uplift_backend/config.py
  src/uplift/backend/uplift_backend/flask.py
  src/uplift/backend/uplift_backend/helpers.py
  src/uplift/backend/uplift_backend/models.py
  src/uplift/backend/uplift_backend/secrets.py
  src/uplift/backend/uplift_backend/serializers.py
Labels: app:shipit_uplift

#1418 uplift/bot: Fix project name and src_path
  src/uplift/bot/default.nix
  src/uplift/bot/uplift_bot/config.py
Labels: app:shipit_bot_uplift

#1421 staticanalysis/frontend: update task index path due to bot rename
  src/staticanalysis/frontend/src/store.js
Labels: app:shipit_static_analysis

#1423 uplift/bot: Enable mail notifications for everyone.
  src/uplift/bot/default.nix
Labels: app:shipit_bot_uplift

#1424 setup: Update uplift/frontend DNS
  lib/please_cli/please_cli/config.py
Labels: app:shipit_uplift

#1385 shipit/api: use action hooks to cancel task groups
  src/shipit/api/shipit_api/api.py
  src/shipit/api/shipit_api/tasks.py
Labels: kind:bug, lang:python

#1437 shipit_static_analysis: Remove unnecessary clang references
  nix/gecko_env.nix
Labels: app:staticanalysis/bot

#1438 Common Phabricator API client
  lib/cli_common/cli_common/phabricator.py
  src/shipit_code_coverage_backend/shipit_code_coverage_backend/api.py
  src/shipit_code_coverage_backend/tests/conftest.py
  src/shipit_code_coverage_backend/tests/test_phabricator.py
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_reporter_mail.py
  src/staticanalysis/bot/tests/test_revisions.py
Labels: app:shipit_code_coverage_backend, app:staticanalysis/bot, kind:enhancement

#1460 staticanalysis/bot: Publish checks by default
  src/staticanalysis/bot/static_analysis_bot/config.py
Labels: app:staticanalysis/bot, kind:regression

#1455 Support Phabricator stack of patches
  lib/cli_common/cli_common/phabricator.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/phabricator_edge_search.json
Labels: app:staticanalysis/bot, kind:enhancement
