Repository mozilla/release-services, pull requests merged in 2018-12, with the labels that each got.

#1734 staticanalysis/frontend: Fix issues display
  src/staticanalysis/frontend/src/Task.vue
  src/staticanalysis/frontend/src/store.js
Labels: app:staticanalysis/frontend, kind:regression

#1714 shipit/api: implement signoffs
  src/shipit/api/shipit_api/api.py
  src/shipit/api/shipit_api/api.yml
  src/shipit/api/shipit_api/config.py
  src/shipit/api/shipit_api/models.py
  src/shipit/frontend/src/views/ListReleases/index.js
Labels: app:shipit/api, kind:enhancement, python

#1736 staticanalysis/bot: Do not publish clang-format issues on third party…
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_clang.py
Labels: app:staticanalysis/bot, kind:bug

#1729 staticanalysis/bot: Better clang-format patch publication
  lib/cli_common/cli_common/taskcluster.py
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/static_analysis_bot/report/debug.py
  src/staticanalysis/bot/static_analysis_bot/report/mail.py
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_reporter_mail.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
  src/staticanalysis/bot/tests/test_workflow.py
Labels: app:staticanalysis/bot, kind:enhancement

#1752 staticanalysis/bot: Do not use improvement patches from before
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
Labels: app:staticanalysis/bot, kind:enhancement

#1758 cli_common: mark artifact as completed when uploaded manually
  lib/cli_common/cli_common/taskcluster.py
Labels: app:staticanalysis/bot, kind:bug

#1750 shipit/frontend: show recent releases
  src/shipit/frontend/src/views/ListReleases/index.js
Labels: app:shipit/frontend, javascript, kind:enhancement

#1760 staticanalysis/bot: Update Taskcluster ownership
  src/staticanalysis/bot/default.nix
Labels: app:staticanalysis/bot, kind:release
