Repository mozilla/release-services, pull requests merged in 2018-09, with the labels that each got.

#1469 Support missing base revision
  lib/cli_common/cli_common/phabricator.py
Labels: app:staticanalysis/bot, kind:enhancement

#1473 Document uplift bot development process
  src/releng_docs/projects/uplift-bot.rst
Labels: app:releng_docs, app:uplift/bot, kind:enhancement

#1488 staticanalysis/bot: Switch to mozilla-unified as base repo, refs #1446
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
Labels: app:staticanalysis/bot, kind:bug

#1487 staticanalysis/bot: Add a required scope to download Android sdks for infer
  src/staticanalysis/bot/default.nix
Labels: app:staticanalysis/bot

#1370 shipit-workflow: sync releases from v1
  src/shipit/api/.flake8
  src/shipit/api/requirements.txt
  src/shipit/api/setup.py
  src/shipit/api/shipit_api/api.py
  src/shipit/api/shipit_api/api.yml
  src/shipit/api/shipit_api/cli.py
  src/shipit/api/shipit_api/config.py
Labels: app:shipit_workflow, lang:python

#1474 staticanalysis: Display custom errors with codes
  src/staticanalysis/bot/static_analysis_bot/__init__.py
  src/staticanalysis/bot/static_analysis_bot/clang/__init__.py
  src/staticanalysis/bot/static_analysis_bot/clang/tidy.py
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/infer/__init__.py
  src/staticanalysis/bot/static_analysis_bot/infer/infer.py
  src/staticanalysis/bot/static_analysis_bot/lint.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/test_revisions.py
  src/staticanalysis/frontend/src/Tasks.vue
  src/staticanalysis/frontend/src/store.js
Labels: app:staticanalysis/bot, kind:enhancement

#1502 staticanalysis/bot: Fix Phabricator reporter creation with missing api
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
Labels: app:staticanalysis/bot, kind:bug

#1497 Fix issues in uplift/{backend,bot} bootstrap
  lib/please_cli/please_cli/config.py
  lib/please_cli/please_cli/run.py
  src/releng_docs/projects/uplift-bot.rst
  src/uplift/backend/migrations/versions/2158e8a5b554_.py
  src/uplift/bot/uplift_bot/config.py
  src/uplift/bot/uplift_bot/mercurial.py
Labels: app:please_cli, app:uplift/backend, app:uplift/bot, kind:regression

#1466 uplift/bot: Cancel uplift requests when merging fails.
  src/uplift/backend/uplift_backend/api.yml
  src/uplift/bot/requirements.nix
  src/uplift/bot/requirements_frozen.txt
  src/uplift/bot/uplift_bot/bugzilla.py
  src/uplift/bot/uplift_bot/cli.py
  src/uplift/bot/uplift_bot/merge.py
  src/uplift/bot/uplift_bot/sync.py
Labels: app:uplift/bot, kind:enhancement, lang:python

#1524 uplift/bot: Document how to test uplift-bot manually
  src/releng_docs/projects/uplift-bot.rst
Labels: app:releng_docs, app:uplift/bot, kind:enhancement

#1528 shipit-pulse-listener: Use common Phabricator API and limit repos
  lib/cli_common/cli_common/phabricator.py
  src/shipit_pulse_listener/shipit_pulse_listener/listener.py
Labels: app:shipit_pulse_listener, kind:enhancement

#1545 staticanalysis/bot: Expose gcc libs (missing libstdc++.so.6)
  nix/gecko_env.nix
  src/staticanalysis/bot/default.nix
Labels: app:staticanalysis/bot, kind:regression

#1544 staticanalysis & pulselistener: remove Mozreview support
  src/pulselistener/pulselistener/listener.py
  src/staticanalysis/bot/README.md
  src/staticanalysis/bot/requirements-dev.txt
  src/staticanalysis/bot/requirements.nix
  src/staticanalysis/bot/requirements_frozen.txt
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/report/__init__.py
  src/staticanalysis/bot/static_analysis_bot/report/mozreview.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/mozreview_auth.json
  src/staticanalysis/bot/tests/mocks/mozreview_comments_12345_51.json
  src/staticanalysis/bot/tests/mocks/mozreview_filediff_12345_2.json
  src/staticanalysis/bot/tests/mocks/mozreview_filediff_12345_2_diffdata.json
  src/staticanalysis/bot/tests/mocks/mozreview_files_12345.json
  src/staticanalysis/bot/tests/mocks/mozreview_reviews_12345.json
  src/staticanalysis/bot/tests/mocks/mozreview_root.json
  src/staticanalysis/bot/tests/mocks/mozreview_session.json
  src/staticanalysis/bot/tests/mocks/mozreview_user.json
  src/staticanalysis/bot/tests/mocks/mozreview_user_another.json
  src/staticanalysis/bot/tests/test_reporter_debug.py
  src/staticanalysis/bot/tests/test_reporter_mail.py
  src/staticanalysis/bot/tests/test_reporter_mozreview.py
  src/staticanalysis/bot/tests/test_revisions.py
  src/staticanalysis/frontend/src/Check.vue
Labels: app:pulselistener, app:staticanalysis/bot, app:staticanalysis/frontend, kind:enhancement

#1546 staticanalysis/bot: Do not check clang-tidy exit code anymore
  src/staticanalysis/bot/static_analysis_bot/clang/tidy.py
  src/staticanalysis/bot/tests/conftest.py
Labels: app:staticanalysis/bot, kind:regression
