Repository mozilla/release-services, pull requests merged in 2018-04, with the labels that each got.

#961 shipit_static_analysis: Add test to verify that our clang-tidy checks still exist
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/tests/test_clang.py
Labels: app:shipit_static_analysis

#998 shipit_code_coverage: Add unit test for the artifacts.download function
  src/shipit_code_coverage/tests/conftest.py
  src/shipit_code_coverage/tests/fixtures/linux_test_task_artifacts.json
  src/shipit_code_coverage/tests/fixtures/test_task_from_group.json
  src/shipit_code_coverage/tests/test_artifacts.py
Labels: app:shipit_code_coverage

#1024 Update docs
  please
  src/releng_docs/deploy/heroku-target.rst
  src/releng_docs/deploy/weekly-releases.rst
Labels: app:releng_docs

#1023 shipit-workflow: release_eta is optional
  src/shipit_workflow/shipit_workflow/api.py
Labels: app:releng_workflow

#1007 shipit-static-analysis: Use Mozilla clang artifact toolchain
  src/shipit_static_analysis/default.nix
  src/shipit_static_analysis/mozilla_clang.nix
  src/shipit_static_analysis/shipit_static_analysis/clang/format.py
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/test_clang.py
  src/shipit_static_analysis/tests/test_revisions.py
Labels: app:shipit_static_analysis, kind:enhancement

#1040 shipit-static-analysis: Support generic analyzers
  src/shipit_static_analysis/shipit_static_analysis/__init__.py
  src/shipit_static_analysis/shipit_static_analysis/clang/format.py
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/report/mail.py
  src/shipit_static_analysis/shipit_static_analysis/report/mozreview.py
  src/shipit_static_analysis/shipit_static_analysis/report/phabricator.py
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/shipit_static_analysis/utils.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/mocks/config.yaml
  src/shipit_static_analysis/tests/test_clang.py
  src/shipit_static_analysis/tests/test_reporter_mail.py
  src/shipit_static_analysis/tests/test_reporter_mozreview.py
Labels: app:shipit_static_analysis

#1052 shipit-static-analysis: Download clang build directly from Taskcluster index
  src/shipit_static_analysis/default.nix
  src/shipit_static_analysis/shipit_static_analysis/clang/__init__.py
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
Labels: app:shipit_static_analysis, kind:bug

#1056 shipit_static_analysis: Move repo_dir management in settings
  src/shipit_static_analysis/shipit_static_analysis/__init__.py
  src/shipit_static_analysis/shipit_static_analysis/clang/format.py
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/cli.py
  src/shipit_static_analysis/shipit_static_analysis/config.py
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/test_clang.py
  src/shipit_static_analysis/tests/test_lint.py
  src/shipit_static_analysis/tests/test_reporter_mozreview.py
  src/shipit_static_analysis/tests/test_revisions.py
Labels: app:shipit_static_analysis, kind:enhancement

#1028 setup: correcting generation of route53.tf file (#979)
  lib/please_cli/please_cli/config.py
  lib/please_cli/please_cli/terraform_route53_config.py
Labels: app:please_cli, kind:enhancement, lang:python

#1055 shipit_bot_uplift: add impacted branches to report email subject
  src/shipit_bot_uplift/shipit_bot_uplift/report.py
  src/shipit_bot_uplift/tests/conftest.py
  src/shipit_bot_uplift/tests/test_bot.py
  src/shipit_bot_uplift/tests/test_report.py
Labels: app:shipit_bot_uplift, kind:enhancement

#1081 shipit-static-analysis: Do not parse mach timestamps
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/tests/conftest.py
Labels: app:shipit_static_analysis, kind:bug

#1101 shipit-static-analysis: Fix lint issue building with double path variable
  src/shipit_static_analysis/shipit_static_analysis/lint.py
Labels: app:shipit_static_analysis, kind:bug

#1102 shipit-static-analysis: Do not check clang-tidy -* is present.
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/tests/mocks/config.yaml
Labels: app:shipit_static_analysis, kind:enhancement

#1120 shipit_static_analysis: Make sure lint issue path is always relative to repo
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/tests/test_lint.py
Labels: app:shipit_static_analysis, kind:bug

#1108 shipit-code-coverage-backend: Enable deployment
  lib/please_cli/please_cli/config.py
Labels: app:shipit_code_coverage_backend
