Repository mozilla/release-services, pull requests merged in 2018-05, with the labels that each got.

#1139 please_cli : Update deployment conf
  lib/please_cli/please_cli/config.py
Labels: app:please_cli, app:releng_frontend, app:shipit_uplift, kind:release

#861 shipit_static_analysis: Compare issues before/after commit
  nix/gecko_env.nix
  src/shipit_static_analysis/shipit_static_analysis/__init__.py
  src/shipit_static_analysis/shipit_static_analysis/clang/format.py
  src/shipit_static_analysis/shipit_static_analysis/clang/tidy.py
  src/shipit_static_analysis/shipit_static_analysis/cli.py
  src/shipit_static_analysis/shipit_static_analysis/config.py
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/test_clang.py
  src/shipit_static_analysis/tests/test_issues.py
  src/shipit_static_analysis/tests/test_lint.py
  src/shipit_static_analysis/tests/test_reporter_mozreview.py
  src/shipit_static_analysis/tests/test_revisions.py
Labels: app:shipit_static_analysis

#1169 releng-docs: Add static-analysis doc
  src/releng_docs/index.rst
  src/releng_docs/projects/shipit-static-analysis.rst
Labels: app:releng_docs

#1171 please: Use host networking instead of binding ports
  lib/please_cli/please_cli/run.py
  please
Labels: app:please_cli, kind:enhancement

#1189 shipit_static_analysis: Replace bugged revision ID parameter with an internal API call.
  src/releng_docs/projects/shipit-static-analysis.rst
  src/shipit_pulse_listener/shipit_pulse_listener/listener.py
  src/shipit_static_analysis/shipit_static_analysis/report/phabricator.py
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/tests/test_reporter_mail.py
  src/shipit_static_analysis/tests/test_revisions.py
Labels: app:shipit_static_analysis

#1195 shipit-static-analysis: Load full mercurial patch to detect files changes, fixes #1192
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/tests/conftest.py
  src/shipit_static_analysis/tests/test_revisions.py
Labels: app:shipit_static_analysis, kind:bug

#1196 shipit-static-analysis: Use top of MC instead of tip to get common hg ancestor
  src/shipit_static_analysis/shipit_static_analysis/revisions.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
  src/shipit_static_analysis/tests/test_revisions.py
Labels: app:shipit_static_analysis, kind:enhancement

#1194 shipit-static-analysis: Upgrade nodejs version to 8.9.4, fixes #1193.
  src/shipit_static_analysis/default.nix
  src/shipit_static_analysis/shipit_static_analysis/lint.py
  src/shipit_static_analysis/shipit_static_analysis/workflow.py
Labels: app:shipit_static_analysis, kind:regression
