Repository mozilla/release-services, pull requests merged in 2019-05, with the labels that each got.

#2064 Do not crash when only decision task is in deps
  src/staticanalysis/bot/static_analysis_bot/workflows/remote.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot, kind:bug

#2066 Export remote clang-format diff as improvement patch, fixes #2065.
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/task.py
  src/staticanalysis/bot/static_analysis_bot/workflows/remote.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#2072 Warn developer when we fail to apply its patch
  lib/cli_common/cli_common/phabricator.py
  src/pulselistener/pulselistener/cli.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/pulselistener/phabricator.py
  src/pulselistener/tests/conftest.py
  src/pulselistener/tests/mocks/phabricator/message-PHID-somehash-fail-unit.json
  src/pulselistener/tests/test_mercurial.py
Labels: app:pulselistener

#2077 staticanalysis/bot: Print full stack of a defect for Coverity analysis.
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
Labels: app:staticanalysis/bot

#2078 staticanalysis/bot: Fix message regarding Coverity checker reliability.
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
  src/staticanalysis/bot/tests/test_coverity.py
Labels: app:staticanalysis/bot

#2088 pulselistener: Fix old variable usage
  src/pulselistener/pulselistener/listener.py
Labels: app:pulselistener

#2089 pulselistener: Decode mercurial error log when reporting
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/tests/mocks/phabricator/artifact-PHID-build-666.json
  src/pulselistener/tests/mocks/phabricator/edges-PHID-DREV-666.json
  src/pulselistener/tests/mocks/phabricator/message-PHID-build-666-fail-unit.json
  src/pulselistener/tests/mocks/phabricator/raw-666.json
  src/pulselistener/tests/mocks/phabricator/search-PHID-DIFF-666.json
  src/pulselistener/tests/test_mercurial.py
Labels: app:pulselistener

#2071 staticanalysis/bot: Remove local workflow & analyzers
  src/staticanalysis/bot/default.nix
  src/staticanalysis/bot/requirements.txt
  src/staticanalysis/bot/static_analysis_bot/__init__.py
  src/staticanalysis/bot/static_analysis_bot/clang/__init__.py
  src/staticanalysis/bot/static_analysis_bot/clang/tidy.py
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/coverity/__init__.py
  src/staticanalysis/bot/static_analysis_bot/infer/__init__.py
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/tasks/__init__.py
  src/staticanalysis/bot/static_analysis_bot/tasks/base.py
  src/staticanalysis/bot/static_analysis_bot/tasks/clang_format.py
  src/staticanalysis/bot/static_analysis_bot/tasks/clang_tidy.py
  src/staticanalysis/bot/static_analysis_bot/tasks/coverage.py
  src/staticanalysis/bot/static_analysis_bot/tasks/coverity.py
  src/staticanalysis/bot/static_analysis_bot/tasks/infer.py
  src/staticanalysis/bot/static_analysis_bot/tasks/lint.py
  src/staticanalysis/bot/static_analysis_bot/utils.py
  src/staticanalysis/bot/static_analysis_bot/workflows/base.py
  src/staticanalysis/bot/static_analysis_bot/workflows/local.py
  src/staticanalysis/bot/static_analysis_bot/workflows/remote.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/clang-issues.txt
  src/staticanalysis/bot/tests/mocks/clang-output.txt
  src/staticanalysis/bot/tests/mocks/clang-repeats.txt
  src/staticanalysis/bot/tests/mocks/coverity-bug.json
  src/staticanalysis/bot/tests/mocks/coverity-empty.json
  src/staticanalysis/bot/tests/mocks/coverity-silent.json
  src/staticanalysis/bot/tests/mocks/coverity.json
  src/staticanalysis/bot/tests/mocks/infer-issues.txt
  src/staticanalysis/bot/tests/mocks/infer-output.txt
  src/staticanalysis/bot/tests/mocks/infer-repeats.txt
  src/staticanalysis/bot/tests/test_analyzers.py
  src/staticanalysis/bot/tests/test_clang.py
  src/staticanalysis/bot/tests/test_coverage.py
  src/staticanalysis/bot/tests/test_coverity.py
  src/staticanalysis/bot/tests/test_infer.py
  src/staticanalysis/bot/tests/test_issues.py
  src/staticanalysis/bot/tests/test_lint.py
  src/staticanalysis/bot/tests/test_remote.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
  src/staticanalysis/bot/tests/test_revisions.py
  src/staticanalysis/bot/tests/test_workflow.py
Labels: app:staticanalysis/bot, kind:enhancement

#2091 Merge RemoteWorkflow in Workflow
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/static_analysis_bot/workflows/__init__.py
  src/staticanalysis/bot/static_analysis_bot/workflows/remote.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mock_taskcluster.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot, kind:enhancement

#2086 staticanalysis/bot: For Coverity analyzer embed reliability index in `as_text`.
  src/staticanalysis/bot/static_analysis_bot/tasks/coverity.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#2093 Merge PhabricatorRevision into Revision
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/phabricator_build_search.json
  src/staticanalysis/bot/tests/mocks/phabricator_buildable_search.json
  src/staticanalysis/bot/tests/mocks/phabricator_send_message.json
  src/staticanalysis/bot/tests/mocks/phabricator_target_search.json
  src/staticanalysis/bot/tests/test_reporter_debug.py
  src/staticanalysis/bot/tests/test_reporter_mail.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
  src/staticanalysis/bot/tests/test_revisions.py
  src/staticanalysis/bot/tests/test_workflow.py
Labels: app:staticanalysis/bot, kind:enhancement

#2096 Support a unique input format for CoverityIssue
  src/staticanalysis/bot/static_analysis_bot/tasks/coverity.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/coverity_simple.json
  src/staticanalysis/bot/tests/test_coverity.py
Labels: app:staticanalysis/bot, kind:enhancement

#2101 staticanalysis/bot: Change the wording for `reliability` index in order to make less prone to confusion.
  src/staticanalysis/bot/static_analysis_bot/tasks/clang_tidy.py
  src/staticanalysis/bot/static_analysis_bot/tasks/coverity.py
  src/staticanalysis/bot/tests/test_clang.py
  src/staticanalysis/bot/tests/test_coverity.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#2102 staticanalysis/bot: Cleanup Coverity data that was used for local analysis. Fixes #2082
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/tasks/coverity.py
  src/staticanalysis/bot/tests/test_coverity.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#2095 docs: Update staticanalysis/bot doc after try migration
  src/docs/projects/staticanalysis-bot.rst
Labels: app:docs, app:staticanalysis/bot, kind:enhancement

#2105 Stop loading a phabricator stack once a base revision is available
  lib/cli_common/cli_common/phabricator.py
Labels: app:pulselistener, kind:bug

#2107 codecoverage/bot: Filter tasks from CLI
  src/codecoverage/bot/code_coverage_bot/artifacts.py
  src/codecoverage/bot/code_coverage_bot/cli.py
  src/codecoverage/bot/code_coverage_bot/codecov.py
Labels: app:codecoverage/bot

#2114 staticanalysis/bot: Fix phrasing.
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
Labels: app:staticanalysis/bot, kind:enhancement

#2115 Add an option to disable zero coverage analyzer
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot, kind:enhancement

#2112 Use dedicated process for webserver
  src/pulselistener/pulselistener/hook.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/phabricator.py
  src/pulselistener/pulselistener/web.py
Labels: app:pulselistener, kind:enhancement

#2108 Use GCP code coverage in backend
  lib/cli_common/cli_common/gcp.py
  src/codecoverage/backend/codecoverage_backend/__init__.py
  src/codecoverage/backend/codecoverage_backend/api.yml
  src/codecoverage/backend/codecoverage_backend/covdir.py
  src/codecoverage/backend/codecoverage_backend/secrets.py
  src/codecoverage/backend/codecoverage_backend/services/gcp.py
  src/codecoverage/backend/codecoverage_backend/v2/__init__.py
  src/codecoverage/backend/requirements.nix
  src/codecoverage/backend/requirements.txt
  src/codecoverage/backend/requirements_frozen.txt
  src/codecoverage/backend/tests/conftest.py
  src/codecoverage/backend/tests/fixtures/covdir.json
  src/codecoverage/backend/tests/test_covdir.py
  src/codecoverage/backend/tests/test_gcp.py
  src/codecoverage/bot/code_coverage_bot/uploader.py
Labels: app:codecoverage/backend

#2124 pulselistener: Avoid updating a secured revision
  src/pulselistener/pulselistener/listener.py
Labels: app:pulselistener, kind:bug

#2132 codecoverage/backend: Remove Phabricator endpoint, fixes #1992.
  src/codecoverage/backend/codecoverage_backend/api.py
  src/codecoverage/backend/codecoverage_backend/api.yml
  src/codecoverage/backend/requirements.txt
  src/codecoverage/backend/tests/test_phabricator.py
Labels: app:codecoverage/backend

#2130 Use phabricator client from libmozdata
  lib/cli_common/cli_common/phabricator.py
  src/codecoverage/bot/code_coverage_bot/phabricator.py
  src/codecoverage/bot/requirements.nix
  src/codecoverage/bot/requirements.txt
  src/codecoverage/bot/requirements_frozen.txt
  src/pulselistener/pulselistener/cli.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/requirements.nix
  src/pulselistener/requirements.txt
  src/pulselistener/requirements_frozen.txt
  src/pulselistener/tests/conftest.py
  src/staticanalysis/bot/requirements.nix
  src/staticanalysis/bot/requirements.txt
  src/staticanalysis/bot/requirements_frozen.txt
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/report/phabricator.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/tasks/clang_format.py
  src/staticanalysis/bot/static_analysis_bot/tasks/clang_tidy.py
  src/staticanalysis/bot/static_analysis_bot/tasks/coverity.py
  src/staticanalysis/bot/static_analysis_bot/tasks/infer.py
  src/staticanalysis/bot/static_analysis_bot/tasks/lint.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/conftest.py
Labels: app:codecoverage/backend, app:codecoverage/bot, app:pulselistener, app:staticanalysis/bot

#2134 cli_common: Do not remove bucket from service account secret.
  lib/cli_common/cli_common/gcp.py
Labels: kind:bug

#2136 Remove Active Data usage
  src/codecoverage/backend/codecoverage_backend/secrets.py
  src/codecoverage/backend/codecoverage_backend/services/__init__.py
  src/codecoverage/backend/codecoverage_backend/services/active_data.py
  src/codecoverage/backend/codecoverage_backend/v2/base.py
  src/codecoverage/backend/codecoverage_backend/v2/path.py
  src/codecoverage/backend/requirements.nix
  src/codecoverage/backend/requirements.txt
  src/codecoverage/backend/requirements_frozen.txt
  src/codecoverage/backend/tests/conftest.py
  src/codecoverage/backend/tests/fixtures/active_data/count_empty.json
  src/codecoverage/backend/tests/fixtures/active_data/count_full.json
  src/codecoverage/backend/tests/fixtures/active_data/revisions.json
  src/codecoverage/backend/tests/fixtures/active_data/tests_full.json
  src/codecoverage/backend/tests/test_active_data.py
Labels: app:codecoverage/backend

#2127 staticanalysis/bot: Make `reliability` index more easy to be understood.
  src/staticanalysis/bot/static_analysis_bot/__init__.py
  src/staticanalysis/bot/static_analysis_bot/tasks/clang_tidy.py
  src/staticanalysis/bot/static_analysis_bot/tasks/coverity.py
  src/staticanalysis/bot/tests/test_clang.py
  src/staticanalysis/bot/tests/test_coverity.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#2128 codecoverage/bot: Add tool to generate covdir reports from past commits.
  src/codecoverage/bot/code_coverage_bot/codecov.py
  src/codecoverage/bot/code_coverage_bot/uploader.py
  src/codecoverage/bot/tools/covdir_gen.py
Labels: app:codecoverage/bot

#2146 Use argparse
  src/staticanalysis/bot/static_analysis_bot/cli.py
Labels: app:staticanalysis/bot
