Repository mozilla/release-services, pull requests merged in 2019-02, with the labels that each got.

#1832 staticanalysis/bot: Upgrade to clang and llvm 7.0 from 4.0
  nix/gecko_env.nix
Labels: app:staticanalysis/bot

#1844 Change clang-format's command message to show, not apply
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
Labels: app:staticanalysis/bot, kind:enhancement

#1852 staticanalysis/bot: Add nasm, fixes #1851
  nix/gecko_env.nix
Labels: app:staticanalysis/bot, kind:enhancement

#1849 staticanalysis/bot - Add suport for Coverity Analysis reporting for C/C++ compilation units.
  src/staticanalysis/bot/static_analysis_bot/__init__.py
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/clang/tidy.py
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/coverity/__init__.py
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
  src/staticanalysis/bot/static_analysis_bot/infer/infer.py
  src/staticanalysis/bot/static_analysis_bot/lint.py
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/coverity-empty.json
  src/staticanalysis/bot/tests/mocks/coverity.json
  src/staticanalysis/bot/tests/test_coverity.py
Labels: app:staticanalysis/bot

#1839 pulselistener: Trigger jobs on try on new phabricator diffs
  lib/cli_common/cli_common/phabricator.py
  nix/tools/mercurial.nix
  src/pulselistener/default.nix
  src/pulselistener/pulselistener/cli.py
  src/pulselistener/pulselistener/config.py
  src/pulselistener/pulselistener/hook.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/tests/conftest.py
  src/pulselistener/tests/mocks/phabricator/auth.json
  src/pulselistener/tests/mocks/phabricator/edges-PHID-DREV-deadbeef.json
  src/pulselistener/tests/mocks/phabricator/edges-PHID-DREV-deadbeefParent.json
  src/pulselistener/tests/mocks/phabricator/edges-PHID-DREV-solo.json
  src/pulselistener/tests/mocks/phabricator/raw-1233.json
  src/pulselistener/tests/mocks/phabricator/raw-1234.json
  src/pulselistener/tests/mocks/phabricator/raw-9876.json
  src/pulselistener/tests/mocks/phabricator/search-PHID-DREV-deadbeefParent.json
  src/pulselistener/tests/test_mercurial.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
Labels: app:pulselistener, app:staticanalysis/bot

#1857 staticanalysis/bot: Forward exceptions encountered during analyzer run(...) to Sentry.
  src/staticanalysis/bot/static_analysis_bot/workflow.py
Labels: app:staticanalysis/bot

#1859 staticanalysis/bot: For Coverity Analysis do not use the last event from the stack but use the main event marked accordingly.
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
  src/staticanalysis/bot/tests/mocks/coverity.json
Labels: app:staticanalysis/bot

#1861 staticanalysis/bot: Update rust-cbindgen to 0.7.1
  nix/gecko_env.nix
Labels: app:staticanalysis/bot

#1864 Add docker_stable_tag for staticanalysis/bot
  lib/please_cli/please_cli/config.py
  lib/please_cli/please_cli/decision_task.py
  lib/please_cli/please_cli/deploy.py
Labels: app:staticanalysis/bot

#1865 staticanalysis/bot: Update Rust to 1.32.0
  nix/gecko_env.nix
Labels: app:staticanalysis/bot

#1867 pulselistener: Support disabling mercurial worker #heroku
  src/pulselistener/pulselistener/cli.py
  src/pulselistener/pulselistener/hook.py
  src/pulselistener/pulselistener/listener.py
Labels: app:pulselistener

#1868 staticanalysis/bot: Add option to print the full stack of the defect for Coverity analysis
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
Labels: app:staticanalysis/bot

#1878 staticanalysis/bot: Some Analyzers do not need extra comments when posting total issues.(Coverity)
  src/staticanalysis/bot/static_analysis_bot/report/base.py
Labels: app:staticanalysis/bot

#1888 staticanalysis/frontend: Fix coverity bugs in stats, fixes #1887
  src/staticanalysis/frontend/src/Check.vue
  src/staticanalysis/frontend/src/Task.vue
  src/staticanalysis/frontend/src/store.js
Labels: app:staticanalysis/frontend

#1894 pulselistener: Update dependencies
  src/pulselistener/requirements.nix
  src/pulselistener/requirements_frozen.txt
Labels: app:pulselistener

#1893 staticanalysis/bot: for the BEFORE_AFTER method we need to setup the build after we apply the patch set.
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
  src/staticanalysis/bot/static_analysis_bot/workflow.py
  src/staticanalysis/bot/tests/test_revisions.py
Labels: app:staticanalysis/bot

#1897 staticanalysis/bot: Add stats report to coverity analyzer.
  src/staticanalysis/bot/static_analysis_bot/coverity/__init__.py
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
Labels: app:staticanalysis/bot

#1898 staticanalysis/bot: Use validation protocol for Coverity issues
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/coverity-silent.json
  src/staticanalysis/bot/tests/test_coverity.py
Labels: app:staticanalysis/bot

#1871 Try analysis ending task
  src/staticanalysis/bot/static_analysis_bot/__init__.py
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/lint.py
  src/staticanalysis/bot/static_analysis_bot/workflows/__init__.py
  src/staticanalysis/bot/static_analysis_bot/workflows/base.py
  src/staticanalysis/bot/static_analysis_bot/workflows/local.py
  src/staticanalysis/bot/static_analysis_bot/workflows/remote.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_lint.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#1900 staticanalysis/bot: For CoverityIssue override `is_publishable` and publish only if it's a local issue.
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
Labels: app:staticanalysis/bot, kind:enhancement

#1902 pulselistener: Use batch_checkout instead of robust_checkout
  lib/cli_common/cli_common/mercurial.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/tests/test_mercurial.py
Labels: app:pulselistener

#1896 ./please tools signin
  lib/please_cli/please_cli/__init__.py
  lib/please_cli/please_cli/project.py
  lib/please_cli/please_cli/signin.py
  lib/please_cli/requirements.nix
  lib/please_cli/requirements.txt
  lib/please_cli/requirements_frozen.txt
  nix/docker/Dockerfile
  please
Labels: app:please_cli

#1906 pulselistener: Add custom try_task_config.json on push to try
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/tests/test_mercurial.py
Labels: app:pulselistener

#1907 Add '--warnings' to 'mozlint'
  src/staticanalysis/bot/static_analysis_bot/lint.py
  src/staticanalysis/bot/static_analysis_bot/report/base.py
Labels: app:staticanalysis/bot, kind:enhancement

#1908 staticanalysis/bot: Allow tasks to run up to 2 hours.
  src/staticanalysis/bot/default.nix
Labels: app:staticanalysis/bot

#1913 Nicer report page to debug static analysis reports
  src/staticanalysis/frontend/src/Choice.vue
  src/staticanalysis/frontend/src/Task.vue
Labels: app:staticanalysis/frontend, kind:enhancement

#1914 staticanalysis/bot: Restrict coverage issues to JavaScript and C/C++ files for now
  src/staticanalysis/bot/static_analysis_bot/config.py
  src/staticanalysis/bot/static_analysis_bot/coverage.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/mocks/phabricator_diff_raw.json
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
  src/staticanalysis/bot/tests/test_revisions.py
Labels: app:staticanalysis/bot, kind:enhancement
