Repository mozilla/release-services, pull requests merged in 2019-07, with the labels that each got.

#2207 Remove project
  .github/CODEOWNERS
  lib/please_cli/please_cli/config.py
  nix/setup.cfg
  src/codecoverage/crawler/VERSION
  src/codecoverage/crawler/code_coverage_crawler/__init__.py
  src/codecoverage/crawler/code_coverage_crawler/cli.py
  src/codecoverage/crawler/code_coverage_crawler/config.py
  src/codecoverage/crawler/code_coverage_crawler/secrets.py
  src/codecoverage/crawler/default.nix
  src/codecoverage/crawler/requirements-dev.txt
  src/codecoverage/crawler/requirements.nix
  src/codecoverage/crawler/requirements.txt
  src/codecoverage/crawler/requirements_frozen.txt
  src/codecoverage/crawler/requirements_override.nix
  src/codecoverage/crawler/settings.py
  src/codecoverage/crawler/setup.cfg
  src/codecoverage/crawler/setup.py
  src/codecoverage/crawler/tests/conftest.py
  src/codecoverage/crawler/tests/test_example.py
  src/docs/index.rst
  src/docs/projects/codecoverage-crawler.rst
Labels: app:codecoverage/crawler

#2201 Update notifier
  src/codecoverage/bot/code_coverage_bot/codecov.py
  src/codecoverage/bot/code_coverage_bot/notifier.py
  src/codecoverage/bot/code_coverage_bot/phabricator.py
  src/codecoverage/bot/tests/conftest.py
  src/codecoverage/bot/tests/mercurial.py
  src/codecoverage/bot/tests/test_notifier.py
  src/codecoverage/bot/tests/test_phabricator.py
Labels: app:codecoverage/bot

#2209 Code coverage without cli_common
  nix/setup.cfg
  src/codecoverage/backend/codecoverage_backend/__init__.py
  src/codecoverage/backend/codecoverage_backend/api.py
  src/codecoverage/backend/codecoverage_backend/backend/__init__.py
  src/codecoverage/backend/codecoverage_backend/backend/build.py
  src/codecoverage/backend/codecoverage_backend/backend/dockerflow.py
  src/codecoverage/backend/codecoverage_backend/covdir.py
  src/codecoverage/backend/codecoverage_backend/datadog.py
  src/codecoverage/backend/codecoverage_backend/flask.py
  src/codecoverage/backend/codecoverage_backend/gcp.py
  src/codecoverage/backend/codecoverage_backend/secrets.py
  src/codecoverage/backend/codecoverage_backend/worker.py
  src/codecoverage/backend/default.nix
  src/codecoverage/backend/requirements.txt
  src/codecoverage/backend/settings.py
  src/codecoverage/backend/tests/conftest.py
  src/codecoverage/bot/code_coverage_bot/artifacts.py
  src/codecoverage/bot/code_coverage_bot/chunk_mapping.py
  src/codecoverage/bot/code_coverage_bot/cli.py
  src/codecoverage/bot/code_coverage_bot/codecov.py
  src/codecoverage/bot/code_coverage_bot/github.py
  src/codecoverage/bot/code_coverage_bot/grcov.py
  src/codecoverage/bot/code_coverage_bot/hgmo.py
  src/codecoverage/bot/code_coverage_bot/notifier.py
  src/codecoverage/bot/code_coverage_bot/phabricator.py
  src/codecoverage/bot/code_coverage_bot/secrets.py
  src/codecoverage/bot/code_coverage_bot/suite_reports.py
  src/codecoverage/bot/code_coverage_bot/taskcluster.py
  src/codecoverage/bot/code_coverage_bot/uploader.py
  src/codecoverage/bot/code_coverage_bot/utils.py
  src/codecoverage/bot/code_coverage_bot/zero_coverage.py
  src/codecoverage/bot/default.nix
  src/codecoverage/bot/requirements.txt
  src/codecoverage/bot/tests/conftest.py
  src/codecoverage/bot/tests/test__system.py
  src/codecoverage/bot/tests/test_github.py
  src/codecoverage/bot/tests/test_grcov.py
  src/codecoverage/bot/tests/test_notifier.py
  src/codecoverage/bot/tools/covdir_gen.py
  src/codecoverage/tools/code_coverage_tools/__init__.py
  src/codecoverage/tools/code_coverage_tools/gcp.py
  src/codecoverage/tools/code_coverage_tools/log.py
  src/codecoverage/tools/code_coverage_tools/taskcluster.py
  src/codecoverage/tools/lib.nix
  src/codecoverage/tools/requirements.txt
  src/codecoverage/tools/setup.py
Labels: app:codecoverage/backend, app:codecoverage/bot

#2196 Remove codecov upload
  src/codecoverage/bot/code_coverage_bot/codecov.py
  src/codecoverage/bot/code_coverage_bot/github.py
  src/codecoverage/bot/code_coverage_bot/uploader.py
  src/codecoverage/bot/code_coverage_bot/zero_coverage.py
  src/codecoverage/bot/requirements.nix
  src/codecoverage/bot/requirements.txt
  src/codecoverage/bot/requirements_frozen.txt
  src/codecoverage/bot/tests/test_github.py
  src/codecoverage/bot/tests/test_uploader.py
  src/codecoverage/bot/tests/test_zero_coverage.py
  src/codecoverage/bot/tools/covdir_gen.py
Labels: app:codecoverage/bot

#2217 Remove deprecated code coverage secrets
  src/codecoverage/bot/code_coverage_bot/secrets.py
  src/codecoverage/bot/tests/conftest.py
  src/codecoverage/bot/tools/covdir_gen.py
Labels: app:codecoverage/bot

#2214 backend_common/auth: we were not parsing taskcluster auth header correctly
  lib/backend_common/backend_common/auth.py
Labels: app:mapper/api, app:tooltool/api, app:treestatus/api

#2219 Add system check for robustcheckout & genhtml
  src/codecoverage/bot/tests/test__system.py
Labels: app:codecoverage/bot

#2218 codecoverage: Stop deployments.
  lib/please_cli/please_cli/config.py
Labels: app:codecoverage/backend, app:codecoverage/bot

#2221 pulselistener: Support custom hookGroupId
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/tests/test_code_coverage_listener.py
Labels: app:pulselistener, kind:enhancement

#2222 Remove cli_common usage from pulselistener
  src/pulselistener/pulselistener/__init__.py
  src/pulselistener/pulselistener/cli.py
  src/pulselistener/pulselistener/hook.py
  src/pulselistener/pulselistener/lib/__init__.py
  src/pulselistener/pulselistener/lib/log.py
  src/pulselistener/pulselistener/lib/pulse.py
  src/pulselistener/pulselistener/lib/taskcluster.py
  src/pulselistener/pulselistener/lib/utils.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/pulselistener/monitoring.py
  src/pulselistener/pulselistener/phabricator.py
  src/pulselistener/pulselistener/web.py
  src/pulselistener/requirements.txt
  src/pulselistener/tests/conftest.py
  src/pulselistener/tests/test_code_coverage_listener.py
  src/pulselistener/tests/test_hook.py
Labels: app:pulselistener

#2225 setup: Disable pulselistener on staging.
  lib/please_cli/please_cli/config.py
Labels: app:pulselistener

#2223 Add message bus & use it for webserver communication
  src/pulselistener/pulselistener/hook.py
  src/pulselistener/pulselistener/lib/bus.py
  src/pulselistener/pulselistener/lib/web.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/tests/test_bus.py
  src/pulselistener/tests/test_code_coverage_listener.py
  src/pulselistener/tests/test_hook.py
  src/pulselistener/tests/test_phabricator_listener.py
Labels: app:pulselistener

#2228 Fix boot sequence
  src/pulselistener/pulselistener/lib/bus.py
Labels: app:pulselistener

#2229 Use Queues maxsize to limit execution.
  src/pulselistener/pulselistener/lib/bus.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/tests/test_bus.py
Labels: app:pulselistener

#2227 Convert monitoring to message bus
  src/pulselistener/pulselistener/config.py
  src/pulselistener/pulselistener/hook.py
  src/pulselistener/pulselistener/lib/monitoring.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/tests/test_hook.py
  src/pulselistener/tests/test_monitoring.py
Labels: app:pulselistener
