Repository mozilla/release-services, pull requests merged in 2019-04, with the labels that each got.

#2004 Pulselistener webhook for Harbormaster
  lib/cli_common/cli_common/mercurial.py
  lib/cli_common/cli_common/phabricator.py
  lib/please_cli/please_cli/config.py
  src/pulselistener/pulselistener/hook.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/requirements.nix
  src/pulselistener/requirements.txt
  src/pulselistener/requirements_frozen.txt
  src/staticanalysis/bot/static_analysis_bot/workflows/local.py
Labels: app:pulselistener

#1988 pulselistener: Restart failed tasks with restart capabilities
  src/pulselistener/pulselistener/monitoring.py
  src/pulselistener/tests/conftest.py
  src/pulselistener/tests/test_monitoring.py
  src/staticanalysis/bot/static_analysis_bot/workflows/base.py
  src/staticanalysis/bot/tests/test_workflow.py
Labels: app:pulselistener, app:staticanalysis/bot

#2025 staticanalysis/bot: Add scope for monitoring & restart
  src/staticanalysis/bot/default.nix
Labels: app:staticanalysis/bot

#2024 Better webhook flow
  lib/cli_common/cli_common/phabricator.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/pulselistener/phabricator.py
Labels: app:pulselistener, kind:enhancement

#2027 Update Harbormaster status when using direct Taskcluster tasks
  lib/cli_common/cli_common/phabricator.py
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
Labels: app:pulselistener, app:staticanalysis/bot

#2031 please_cli: Setup eventlistener DNS records
  lib/please_cli/please_cli/config.py
Labels: app:please_cli

#2032 staticanalysis/bot: Update clang-tidy setup revision to match clang 8
  src/staticanalysis/bot/static_analysis_bot/workflows/local.py
Labels: app:staticanalysis/bot

#2033 staticanalysis/bot: Coverity use task from try
  src/staticanalysis/bot/static_analysis_bot/coverity/coverity.py
  src/staticanalysis/bot/static_analysis_bot/workflows/remote.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#2030 staticanalysis/bot: Remote Infer support.
  src/staticanalysis/bot/static_analysis_bot/infer/infer.py
  src/staticanalysis/bot/static_analysis_bot/workflows/remote.py
  src/staticanalysis/bot/tests/test_remote.py
Labels: app:staticanalysis/bot

#2029 staticanalysis/frontend: Fix source unknown in Check vue
  src/staticanalysis/frontend/src/Check.vue
Labels: app:staticanalysis/frontend

#2040 staticanalysis/bot: Avoid using bad values for HarborMaster target
  src/staticanalysis/bot/static_analysis_bot/revisions.py
Labels: app:staticanalysis/bot, kind:bug

#2045 staticanalysis/bot: Consider having reviewbot provide more actionable clang-format and clang-tidy.
  src/staticanalysis/bot/static_analysis_bot/report/base.py
  src/staticanalysis/bot/tests/conftest.py
  src/staticanalysis/bot/tests/test_reporter_mail.py
  src/staticanalysis/bot/tests/test_reporter_phabricator.py
Labels: app:staticanalysis/bot

#2047 staticanalysis/bot: Fix clang-format bug when no touched/added line in patch
  src/staticanalysis/bot/static_analysis_bot/clang/format.py
  src/staticanalysis/bot/tests/test_clang.py
Labels: app:staticanalysis/bot, kind:bug

#2049 staticanalysis/bot: Do not update build status when phabricator reporter is disabled
  src/staticanalysis/bot/static_analysis_bot/cli.py
  src/staticanalysis/bot/static_analysis_bot/revisions.py
Labels: app:staticanalysis/bot

#2039 Deploying v59 (and bumping version to v60 )
  .taskcluster.yml
  VERSION
Labels: kind:release

#2052 pulselistener: Add option to disable treeherder link publication
  src/pulselistener/pulselistener/listener.py
  src/pulselistener/pulselistener/mercurial.py
  src/pulselistener/tests/conftest.py
  src/pulselistener/tests/mocks/phabricator/artifact-PHID-HMBT-somehash.json
  src/pulselistener/tests/test_mercurial.py
Labels: app:pulselistener
